<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!DOCTYPE html>
<html>
<head>

<jsp:include page="/WEB-INF/jsp/common.jsp" />

</head>
<body>
<div id="tbr">
    <form id="frmQuery">
	<table class="form">
	   <tr>
           <td class="form">标题</td>
           <td class="form">
               <input class="easyui-textbox" name="title" type="text">
           </td>
           <td class="form">日期</td>
           <td class="form">
               <input class="easyui-datebox filter" name="beginCreateTime" type="text">
                            至
               <input class="easyui-datebox filter" name="endCreateTime" type="text">
           </td>
           <td class="form" colspan="7">
               <a id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
           </td>
           <c:forEach var="func" items="${ROLE_FUNCS}">
               <td><a id="${func.code}" class="easyui-linkbutton" data-options="iconCls:'${func.icon}'">${func.funcName}</a></td>
           </c:forEach>
		</tr>
	</table>
    </form>
</div>
<table id="dg" class="easyui-datagrid" toolbar="#tbr"
    data-options="url:'${urlPath}${controllerRequestMappingPathName}/page.do',
                  pagination:true,
                  pagePosition:'bottom',
                  pageNumber:1,
                  pageSize:20,
                  pageList:[10,20,50,100],
                  singleSelect:true,
                  multiSort:true,
                  rownumbers: true,
                  fit:true">
    <thead>
        <tr>
        #foreach($opt in $table.headDataOptions)
    <th data-options="field:'${opt.field}', width:'${opt.width}', align:'${opt.align}'">${opt.title}</th>
        #end
	</tr>
    </thead>
</table>

<script src="${jsPath}${indexJSPath}/index.js"></script>

</body>
</html>