package ${controllerClass.package.name};

import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.web.servlet.ModelAndView;

import com.xtxk.hb.framework.model.Page;
import com.xtxk.hb.framework.model.PageInfo;
import com.xtxk.hb.framework.model.Result;
import ${poClass.name};
#if(${poClass.name} != ${pagePOClass.name})
import ${pagePOClass.name};
#end
import ${serviceClass.name};

@Controller
@RequestMapping("${controllerRequestMappingPath}")
public class ${controllerClass.simpleName} {
    @Autowired
    private ${serviceClass.simpleName} ${serviceVarName};
    
    @RequestMapping("/page")
    @ResponseBody
    public Page<${pagePOClass.simpleName}> page(@RequestParam Map<String, Object> params, PageInfo pparams) {
        return ${serviceVarName}.page(params, pparams);
    }
    
    @RequestMapping("/form")
    public ModelAndView form(ModelAndView mv, ${poClass.simpleName} ${poVarName}) {
    	if (${poVarName}.${primaryGetterName}() != null)
    		${poVarName} = ${serviceVarName}.getByPK(${poClass.simpleName}.class, ${poVarName}.${primaryGetterName}());
        return mv.addObject("${poVarName}", ${poVarName});
    }

    @RequestMapping("/save")
    @ResponseBody
    public Result save(${poClass.simpleName} ${poVarName}) {
        if (${poVarName}.${primaryGetterName}() == null)
            return Result.get( ${serviceVarName}.add(${poVarName}) );
        else
            return Result.get( ${serviceVarName}.update(${poVarName}) );
    }
    
    @RequestMapping("/delete")
    @ResponseBody
    public Result delete(${primaryFieldJavaType} ${primaryFieldVarName}) {
        return Result.get( ${serviceVarName}.delete(${primaryFieldVarName}) );
    }
}
