package ${serviceClass.package.name};

import java.util.Map;

import org.springframework.stereotype.Service;

import com.xtxk.hb.framework.dao.DaoSupport;
import com.xtxk.hb.framework.model.Page;
import com.xtxk.hb.framework.model.PageInfo;
import ${poClass.name};
#if(${poClass.name} != ${pagePOClass.name})
import ${pagePOClass.name};
#end

@Service
public class ${serviceClass.simpleName} extends DaoSupport {
    public Page<${pagePOClass.simpleName}> page(Map<String, Object> params, PageInfo pparams) {
        return list(${pagePOClass.simpleName}.class, "selectByCond", params, pparams);
    }

    public boolean add(${poClass.simpleName} ${poVarName}) {
        return insert(${poVarName}) > 0;
    }

    public boolean update(${poClass.simpleName} ${poVarName}) {
        return updateByPKSelective(${poVarName}) > 0;
    }

    public boolean delete(${primaryFieldJavaType} ${primaryFieldVarName}) {
        return super.deleteByPK(${primaryFieldVarName}) > 0;
    }
}